<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ACTIVIDAD 1</title>
    <style>
        body { font-family: sans-serif; text-align: center; padding: 50px; background: #e0f2f1; }
        .contenedor { background: white; padding: 20px; border-radius: 10px; display: inline-block; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }
        h1 { color: #000000a9; }
    </style>
</head>
<body>
    <div class="contenedor">
        <h1>Activiad 1 ;)</h1>
        <p>Esta es la página web tradicional Template.</p>
        <p>Hecha en Django</p>
    </div>
</body>
</html>